.backgroud{
    background-color: #d9d9d9;
    

}
@media (max-width: 768px) {
    .unis{
        flex-direction: column;
        margin-left: 0vw !important ;
    }
    .title{
        color:#cca43b;
        font-size: 60px;
        font-family: 'Pixelify Sans', sans-serif;
        padding-left: 0 !important;
        padding-top: 0 !important;
        text-align: center;
    }
  }
.title{
    color:#cca43b;
    font-size: 60px;
    font-family: 'Pixelify Sans', sans-serif;
    padding-left: 7.5%;
    padding-top: 3.5%;
}
.unis{
    align-items: center;
    display: flex;
    margin-left: 5vw;
}

