.bg-rectangle-container {
    display: flex;
    width: 30%; /* Adjust the width as needed */
    height: 30vh; /* Adjust the height as needed */
    margin: 20px;
    overflow: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
    align-content: center;
    font-size: 2vh;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out; /* This will animate the transform property */

  }
  .bg-rectangle-container:hover {
    transform: scale(1.1); /* This will scale the element to 110% of its original size */
  }
  .bg-rectangle-content {
    flex: 1;
    padding: 10px;
    background-color: #353535; /* Adjust the background color as needed */
    color: #fff;
    z-index: 1;
  }
  
  .bg-rectangle-content h2 {
    margin-bottom: 10px;
  }
  
  .image-container {
    width: 150px; /* Adjust the width of the image container */
    overflow: hidden;
    right: 0;
    top: 0;
    background-color: #b1b1b1;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  

  
  img {
    width: 150px;
    height: 150px;
    object-fit: contain ;
  }

  
  @media (max-width: 768px) {
    .bg-rectangle-container {
    width: 90%; /* Adjust the width as needed */
    height: 100%;
    flex-direction: column;
    
    }
    .image-container{
        width: 100%;
        height: 100%;
        text-align: center;
        padding-left: 25vw;
        }
  }