.landPage{
    height: 100vh;
    display: grid;
    grid-template-columns:1fr 20fr;
    margin: -8px;
    background-color:#0E1B26 ;
}

@media (max-width: 768px) {
    .landPage{
        height: 100vh;
        display: flex;
        background-color:#0E1B26 ;
        margin: -8px;
    }
  }