.title{
    color:#cca43b;
    font-size: 60px;
    font-family: 'Pixelify Sans', sans-serif;
    padding-left: 7.5%;
    padding-top: 3.5%;
}

@media (max-width: 768px) {
    .title{
        padding-left: 0 !important;
        padding-top: 0 !important;
        text-align: center;
    }
  }
  .pjstyle{
    margin-left: 4.5vw ;
    z-index:100;
  }

  @media (max-width: 768px) {
    .pjstyle{
        margin-left: 1vw ;
        z-index:100;
        height: fit-content;
      }
    }